# Dependency directories
/node_modules
/bower_components
/jspm_packages

# OS or editor files
.DS_Store
.vscode/

# Environment variables
.env
.env.local
.env.*.local

# Visual Studio Code specific files
.vscode/